@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    border: 0;
}
.body{
    
}

.krio_head{
    background-image: url(img/head.png);
    max-width: 1920px;

    height: 750px;
}

.krio_flex{
    display: flex;
    margin-left: 149px;
}

.krio_menu{
    display: flex;
    justify-content: space-around;
    margin-left: 129px;
}

.krio_p{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 47px;
    color: #fff;
}

.line{
    width: 1920px;
}

.krio_logo{
    margin-top: 33px;
}

.krio_contact{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    margin-top: 38px;
    margin-left: 188px;
    color: #fff;
}

/* ---------------------------------------------- */

.project_fon{
    width: 1135px;
    height: 650px;
    background: #F4F4F4;
    z-index: -1;

}

.project_fon>h1{
    position: relative;
    top: 100px;
    left: 547px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    
}

.project_fon>p{
    position: relative;
    left: 547px;
    top: 120px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

.info{
    position: relative;
    left: 547px;
    top: 215px;
    width: 428px;
    height: 200px;
    background: #FFFFFF;
    z-index: 2;
}

.info>p{
    position: relative;
    top: 30px;
    left: 40px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px   
}

.pro_img{
    position: relative;
    left: 515px;
    top: 50px;
    width: 427px;
    height: 450px;
    z-index: 1;
}

.pro_info{
    display: flex;
}

.pro_button{
    position: relative;
    left: 547px;
    top: 10px;
    display: flex;

}
/* ----------------------------------------- */

.news_fon{
    position: relative;
    left: 1135px;
    width: 785px;
    height: 780px;
    background: #F4F4F4;
}

.new_cart{
    width: 255px;
    height: 480px;
    background: #fff;
    margin-left: 30px;
}

.more{
    width: 125px;
    height: 40px;
    background:#0F4898 ;
    margin-left: 18px;
    margin-top: 20px; 
}

.more>p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: center;    
    color: #fff;
    
}

.date{
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #343434;
    margin-top: 30px;
    margin-left: 18px;
}

.new_cart>h1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #303942;
    margin-left: 18px;
}

.new_cart>p{
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;  
    margin-left: 18px;  
}

.news_carts{
    position: relative;
    right: 583px;
    top: 170px;
    display: flex;
    justify-content: space-around;

}

.news_head>div>h1{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;        
}

.news_head>div>p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;   
}

.news_button{
    position: relative;
    top: 100px;
    right: 43px;
    width: 125px;
    height: 40px;
    background: #0F4898;
        
}

.news_button>p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    color:#fff;
    
}

.news_head{
    display: flex;
}

.news_head>div{
    position: relative;
    right: 588px;
    top: 100px;
}

/* ---------------------------------- */

.end{
    width: 1920px;
    height: 125px;
    left: 0px;
    top: 2180px;
    background: #323232;
}

.end_whrite{
    width: 298px;
    display: flex;
    justify-content: space-around;
    margin-left: 811px;
}

.end_whrite>h1{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff; 
    margin-top: 40px;   
}

.end>p{
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-align: center;   
    color: #FFFFFF; 
    margin-top: 22px;
}

