@media (max-width: 425px) {
    .container{
        margin: 0 auto;
        margin-top: 32px;
        padding-bottom: 104px;
      }
      .header{
        background: rgb(255, 255, 255);
        max-width: 65%;
        margin: 0 auto;
      }

      .programm {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 40px;
      }
    .nav2_start{
        text-align: center;
        max-width: 30%;
        margin: 0 auto;
        margin-top: 30px;
      }

      .head_menu {
        font-family: 'Gilroy-Bold';
        font-size: 0.1px;
        line-height: 22px;
        color: #828282;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .home_p{
        font-size: 0.1px;
        line-height: 22px;
        color: #070707;
      
      }

      .home2{
        display: flex;
        flex-direction: column;
      }

      .home2>img{
        padding-bottom: 20px;
      }
    
      .language{
        font-family: 'Gilroy-Bold', sans-serif;
      font-size: 0.1px;
      line-height: 20px;
      
      color: #828282;
      
      transform: rotate(-90deg);
      }

      .line{
        border: 0.1px  #828282;
      }

    .nav1_start {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 50px;
    }

    .icon_left {
        padding-left: 20px;
    }

    .nav3_start>p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 45px;
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 10px;
        line-height: 22px;
        text-align: center;
        text-decoration-line: underline;
        color: #070707;
    }

    .nav3_start>h1 {
        text-align: center;
        padding-top: 11px;
        padding-bottom: 9px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 25px;
        line-height: 42px;
        text-align: center;
        color: #070707;
    }

    .programm>img{
        width: 60px;
    }

    .head>img {
        background-image: url(../img/BSPP2266.png);
        height: 477px;
        width: 100%;
    }

    .programm_h1 {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #828282;
        /* padding-top: 10px; */
        padding-bottom: 20px;
    }

    .nav1_start>h1 {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 23px;
        line-height: 42px;
        text-align: center;
        color: #070707;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav1_start>p {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        color: #070707;
    }

    .nav2_start>p {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #070707;
    }

    .nav2_start>h1 {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 27px;
        line-height: 42px;
        text-align: center;
        color: #070707;
    }

    button{
        background-color: #111;
        margin-top: 29px;
        margin-bottom: 86px;
        border-radius: 35px;
      }
      
      button>p{
        color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
        
      }

}